.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
test-projects/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.git/**
.github/**
.DS_Store
eslint.config.mjs
FEATURES.md
docs/**
